<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UAVP.UAVXSet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="UAVXSet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <UAVP.UAVXSet.Properties.Settings>
      <setting name="comPort" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="dataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="parity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="handshake" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="openFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="saveFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="logLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="spash" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pathHex" serializeAs="String">
        <value />
      </setting>
      <setting name="time" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="writeSleep" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="AskBurnPIC" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="mainFormHeight" serializeAs="String">
        <value>701</value>
      </setting>
      <setting name="mainFormWidth" serializeAs="String">
        <value>792</value>
      </setting>
      <setting name="listViewWidth" serializeAs="String">
        <value>135</value>
      </setting>
      <setting name="stopBits" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="language" serializeAs="String">
        <value>auto</value>
      </setting>
      <setting name="version" serializeAs="String">
        <value />
      </setting>
      <setting name="map1" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="map2" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="map3" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="map4" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="map5" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="map6" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="map7" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="map8" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="map9" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="div1" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="div2" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="div3" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="div4" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="div5" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="div6" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="div7" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="div8" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="div9" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="off1" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="off2" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="off3" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="off4" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="off5" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="off6" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="off7" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="off8" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="off9" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="bas1" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="bas2" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="bas3" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="bas4" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="bas5" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="bas6" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="bas7" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="bas8" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="bas9" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="focus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="iReadSleep" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Colour" serializeAs="String">
        <value>Silver</value>
      </setting>
      <setting name="baudRate" serializeAs="String">
        <value>115200</value>
      </setting>
      <setting name="LogFileDirectory" serializeAs="String">
        <value>C:\Program Files\UAVXLogs</value>
      </setting>
      <setting name="ParamDirectory" serializeAs="String">
        <value>C:\Program Files\UAVXParams</value>
      </setting>
    </UAVP.UAVXSet.Properties.Settings>
    <UAVXSet.Properties.Settings>
      <setting name="comPort" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="baudRate" serializeAs="String">
        <value>38400</value>
      </setting>
      <setting name="stopBits" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="dataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="parity" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="handshake" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="openFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="saveFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="logLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="spash" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pathHex" serializeAs="String">
        <value />
      </setting>
      <setting name="time" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="writeSleep" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="AskBurnPIC" serializeAs="String">
        <value>True</value>
      </setting>
    </UAVXSet.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" connectionStringName="DefaultConnection" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>